body{
    background-color:#f8f8f8;
    font-family: Arial, Helvetica, sans-serif;
}

.book-library{
    background-color:#ffffff;
    width:300px;
    margin:auto;
    padding:20px;
}

.book{
    background:#f2f2f2;
    padding:15px;
    margin:20px 0;
    text-align:center;
}

.book img{
    height:180px;
}

.author{
    color:#777777;
}

.price{
    background:#2ecc71;
    color:white;
    padding:5px;
}
